.newboard {
  padding-bottom: 5px;
  height: 50px;
  width: 95%;
  margin-top: 5px;
}

.newboard button {
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  font-family: quicksand;
  height: 100%;
  color: rgb(68, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  transition: 0.5s;
  border: none;
}

.newboard button:hover {
  background-color: rgba(128, 128, 128, 0.267);
}

.newboard button .icon {
  margin-left: 5px;
}
