.card {
  background-color: rgb(235, 235, 235);
  color: black;
  width: 90%;
  height: auto;
  max-width: 320px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}
