@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: wrap;
  background-color: #f5f5f5;
  overflow: hidden;
}

.row1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
}

.row2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  right: 0px;
  height: 100%;
  width: 80%;
}

.logo {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 300px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  color: #018bba;
}

.logo h1 {
  font-size: 25px;
}

.logo-img {
  margin-right: 5px;
  height: 60px;
}
.taskflow {
  text-align: center;
  font-weight: 600;
  color: rgb(41, 41, 41);
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  width: 350px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.26);
  width: 350px;
  height: 400px;
  animation-name: panel;
  animation-duration: 1s;
}

@keyframes panel {
  from {
    opacity: 0;
    transform: translatex(-50px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}

.container h3 {
  color: #018cbabb;
  font-family: "Red Hat Display", serif;
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 0;
}

.container input {
  background-color: #018cba0e;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  color: rgb(43, 43, 43);
  padding-left: 10px;
  outline: none;
  width: 250px;
  height: 40px;
  border: 1px solid #58585857;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container p {
  display: flex;
  width: 250px;
  font-size: 10px;
  font-weight: bolder;
  font-family: "Red Hat Display", serif;
  color: #686868a2;
}

.container button {
  cursor: pointer;
  background-color: #018bba;
  height: 40px;
  width: 100px;
  color: white;
  font-family: quicksand;
  font-weight: bolder;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-top: 20px;
}

.login {
  font-family: "Red Hat Display", serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
  width: 250px;
}

.login p {
  font-size: 12px;

  width: auto;
  margin-right: 5px;
}

.login a {
  color: #018bba;
  font-weight: bolder;
}

#google {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(46, 46, 46);
  background-color: transparent;
  border: 1px solid #58585857;
  font-weight: 700px;
  width: 250px;
  text-align: center;
  font-size: 11px;
  margin: 0;
}

#google:hover {
  background-color: #e0e0e0;
}

#google p {
  color: rgb(19, 19, 19);
  font-size: 11px;
  margin-left: 5px;
  width: auto;
}

#google img {
  margin-left: 5px;
  width: 13px;
}

.row2 img {
  width: 100%;
  height: auto;
}

.row2 .githubrepo {
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: quicksand;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  border-radius: 20px;
  background-color: #e0e0e0;
  transition: 0.5s;
}

.row2 .githubrepo p {
  margin: 0;
}

.row2 .githubrepo img {
  width: auto;
  height: 20px;
  margin-left: 10px;
}

.row2 .githubrepo:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: #01ba0a79;
}

.row2 .githubrepo .opensource {
  margin-right: 5px;
}

.login .log-in-btn {
  background-color: transparent;
  color: #018bba;
  border: none;
  outline: none;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 0px;
  text-decoration: underline;
}
