@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

#root {
  margin: 0;
  padding: 0;
}

.nav {
  font-family: "Quicksand";
  font-weight: bolder;
  background-color: rgb(248, 248, 248);
  z-index: 10;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 60px;
  position: absolute;
}

.layer1 {
  padding-left: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #018bba;
}

.layer2 {
  padding-right: 20px;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav .layer1 img {
  height: 30px;
  margin-right: 5px;
}
